<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_doorip_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_doorip_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splash_delete"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${NATIVE_APP_KEY}" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.going.presentation.mock.MockActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.going.presentation.auth.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.todo.TodoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.onboarding.OnboardingProfileSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.going.presentation.tendencytest.TendencyTestSplashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.tendencytest.TendencyTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.preferencetag.PreferenceTagActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.tendencytest.result.TendencyTestResultActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.starttrip.createtrip.CreateTripActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>


    </application>

</manifest>
