<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_doorip_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_doorip_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splash_delete"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${NATIVE_APP_KEY}" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.going.presentation.onboarding.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.going.presentation.onboarding.signin.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.onboarding.signup.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.tendency.splash.TendencySplashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.tendency.ttest.TendencyTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.tendency.result.TendencyResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.entertrip.createtrip.preference.EnterPreferenceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.entertrip.invitetrip.preference.FinishPreferenceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.entertrip.createtrip.choosedate.CreateTripActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.entertrip.StartTripSplashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.entertrip.createtrip.finish.FinishTripActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kakaolink"
                    android:scheme="kakao${NATIVE_APP_KEY}" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.going.presentation.entertrip.invitetrip.invitecode.EnterTripActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.entertrip.invitetrip.finish.InviteFinishActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.dashboard.DashBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.todo.TodoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.todo.create.TodoCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.todo.detail.TodoDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.profile.my.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.profile.edit.ProfileEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.going.presentation.todo.ourtodo.checkfriends.CheckFriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.going.presentation.todo.editinfo.EditTripInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>
